/***** General stuff **********************************************************/

.desktopOnly {
	display: none;
}
.mobileOnly {
	display: block;
}
.hidden {
	display: none !important;
}


html {
	background-color:#ffffff;
} 
body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 1.4rem;
	color: #333333;
	margin: 0px;
	padding: 0px;
}
html, body {
	width:100%;
	height:100%;
}
strong, b {
	font-weight: 700;
}
img {
	display: block;
}
a img {
	border: none;
}
a {
	outline: none;
}
a:link, a:visited, a:hover, a:active {
	color:#006FBA;
	text-decoration:none;
}
ul {
	padding:5px;
	margin:0px;
	margin-left:25px;
	list-style-position:outside;
}
li {
	padding:5px;
	list-style-position:outside;
}
h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	line-height: normal;
}








/* Button ___________________________________________________________________________*/
a.linkButton {
	display: block;
	padding: 5px;
    border-radius: 20px; 
    text-align: center; 
    font-weight: 700;
	text-transform: uppercase; 
    transition: all .2s ease-in-out;
	margin: 20px auto; 
}
a.linkButton:hover {
    text-decoration: none; 
}
a.linkButton.short {
	max-width: 350px;
}
a.linkButton.light {
    color: rgba(255, 255, 255, 0.9); 
    border: 2px solid #ffffff; 
}
a.linkButton.light:hover {
    text-decoration: none;
	color: rgba(0, 0, 0, 0.9); 
    background-color: rgba(255, 255, 255, 0.4);
}
a.linkButton.dark {
    color: rgba(0, 0, 0, 0.9); 
    border: 2px solid #333333; 
}
a.linkButton.dark:hover {
    text-decoration: none;
	color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4); 
}






/* Menu Standards ___________________________________________________________________________*/
.menu {
    width: auto;
}
ul.menu  {
    list-style: none;
	padding: 0px;
    margin: 0px;
}
.menu li {
    position: relative;
	list-style: none;
    padding: 0px;
    display: inline-block;
}
.menu a {
    display: block;
	font-size: 16px;
    text-decoration: none;
	text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    font-weight: 700;
    opacity: .8;
    line-height: 45px;
}
.menu a:hover {
	cursor: pointer;
}

.menu li:hover > a,
.menu ul:hover > a,
.menu a:focus {
	opacity: 1;
}
.menu .current_page_item > a,
.menu .current_page_ancestor > a,
.menu .current_page_item > a:hover,
.menu .current_page_ancestor > a:hover {
	opacity: 1;
}







/* Layout ___________________________________________________________________________*/
.div1300 {
    max-width: 1300px;
    margin: auto;
    position: relative;
}


.pageBlock {
    padding: 50px 0px;
}


.pageTitle {
	font-size: 2.5rem;
	font-weight: 900;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
    background-color: #162C53;
    padding: 100px 15px;
    margin: 0px;
    border-bottom: 10px solid #3F84E5;
}
.blockTitle {
	font-size: 1.5rem;
	font-weight: 700;
	color: #162C53;
	margin: 0px;
	padding: 0px 10px;
	margin-bottom: 20px;
	line-height: normal;
}
.blockSubtext {
	margin-bottom: 40px;
	padding: 0px 10px;
}
.paragraphTitle {
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 20px;
	color:#162C53;
	padding: 0px 10px;
}


footer {
	text-align: center;
	padding: 50px 25px;
    color:#ffffff;
    background: #162C53;
}






/* 800px and higher _________________________________________________________________________________________________________________________________________________________________________*/
@media (min-width:800px){

.desktopOnly {
	display: block;
}
.mobileOnly {
	display: none;
}
.hidden {
	display: none !important;
}
.flex {
	display: flex;
}
html {
	overflow: auto !important;
}
body {
	margin: 0px;
	overflow: auto !important;
}
html, body {
	height: auto;
	width: auto;
}







/* Layout ___________________________________________________________________________*/

.pageTitle {
	font-size: 3rem;
}
.blockTitle {
	font-size: 2rem;
}
.blockSubtext {
	margin-bottom: 40px;
}
.paragraphTitle {
	font-size: 1.5rem;
}






}
