/***** General stuff **********************************************************/

.desktopOnly {
	display: none;
}
.mobileOnly {
	display: block;
}
.hidden {
	display: none !important;
}


html {
	background-color: #ffffff;
} 
body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 1.6rem;
	color: #333333;
	margin: 0px;
	padding: 0px;
}
html, body {
	width: 100%;
	height: 100%;
}
strong, b {
	font-weight: 700;
}
img {
	display: block;
}
a img {
	border: none;
}
a {
	outline: none;
}
a:link, a:visited, a:hover, a:active {
	color: #006FBA;
	text-decoration: none;
}
ul {
	padding:5px;
	margin:0px;
	margin-left:25px;
	list-style-position:outside;
}
li {
	padding: 3px;
	list-style-position: outside;
}
h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	line-height: normal;
}
h1 {
	position: relative;
	background-size: cover;
	background-position: center center;
}
.h1ColorOverlay {
	position: absolute;
	inset: 0;
	opacity: .9;
	z-index: 2;
}
.h1BackgroundImage {
	position: absolute;
	inset: 0;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}







/* Button ___________________________________________________________________________*/
a.linkButton {
	display: block;
	padding: 5px;
    border-radius: 20px; 
    text-align: center; 
    font-weight: 700;
	text-transform: uppercase; 
    transition: all .2s ease-in-out;
	margin: 20px auto; 
}
a.linkButton:hover {
    text-decoration: none; 
}
a.linkButton.short {
	max-width: 350px;
}
a.linkButton.light {
    color: rgba(255, 255, 255, 0.9); 
    border: 2px solid #ffffff; 
}
a.linkButton.light:hover {
    text-decoration: none;
	color: rgba(0, 0, 0, 0.9); 
    background-color: rgba(255, 255, 255, 0.4);
}
a.linkButton.dark {
    color: rgba(0, 0, 0, 0.9); 
    border: 2px solid #333333; 
}
a.linkButton.dark:hover {
    text-decoration: none;
	color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4); 
}






/* Menu Standards ___________________________________________________________________________*/
.menu {
    width: auto;
}
ul.menu  {
    list-style: none;
	padding: 0px;
    margin: 0px;
}
.menu li {
    position: relative;
	list-style: none;
    padding: 0px;
    display: inline-block;
}
.menu a {
    display: block;
	font-size: 16px;
    text-decoration: none;
	text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    font-weight: 700;
    opacity: .8;
    line-height: 45px;
}
.menu a:hover {
	cursor: pointer;
}

.menu li:hover > a,
.menu ul:hover > a,
.menu a:focus {
	opacity: 1;
}
.menu .current_page_item > a,
.menu .current_page_ancestor > a,
.menu .current_page_item > a:hover,
.menu .current_page_ancestor > a:hover {
	opacity: 1;
}





/* Menu - Mobile ___________________________________________________________________________*/
.completeMobileMenuAndButtons {
}
.mobileMenuButton {
	height: 35px;
	width: 35px;
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 150;
    box-sizing: border-box;
    padding: 5px;
}
.mobileMenuButton:hover {
	cursor: pointer;
}
.mobileMenuButton img, .mobileMenuCloseButton img {
	width: 100%;
	height: 100%;
    display: block;
}
.mobileMenuCloseButton {
	height: 35px;
	width: 35px;
	position: absolute;
	right: 15px;
	top: 13px;
	cursor: pointer;
    z-index: 152;
    display: none;
    box-sizing: border-box;
    padding: 5px;
}
.mobileMenuContainer {
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 100%;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
    box-sizing: border-box;
	display: none;
}
.mobileMenu {
	text-align: center;
	position: absolute;
	top: 85px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}
.mobileMenu li {
	display: block;
}
.mobileMenu a {
	font-size: 20px;
	padding: 10px;
    border: 2px solid rgba(255, 255, 255, .5);
    margin: 15px;
    font-weight: 900;
    border-radius: 20px;
}
.mobileMenu a:hover {
    background-color: rgba(255, 255, 255, .2);
}
.mobileMenu .current_page_item > a,
.mobileMenu .current_page_ancestor > a,
.mobileMenu .current_page_item a:hover {
	color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
}






/* Layout ___________________________________________________________________________*/
header {
	z-index: 150;
	position: fixed;
}
.topLogo {
	position: absolute;
	z-index: 15;
}
.topLogo img {
	width: 100%;
	height: auto;
}
.div1300 {
    max-width: 1300px;
    margin: auto;
    position: relative;
}


.pageBlock {
    padding: 50px 0px;
}


.pageTitle {
	position: relative;
	z-index: 3;
	font-size: 2.5rem;
	font-weight: 900;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
    padding: 150px 15px;
    margin: 0px;
}
.blockTitle {
	font-size: 1.5rem;
	font-weight: 700;
	color: #162C53;
	margin: 0px;
	padding: 0px 15px;
	margin-bottom: 20px;
	line-height: normal;
}
.blockSubtext {
	margin-bottom: 40px;
	padding: 0px 15px;
}
.paragraphTitle {
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 20px;
	color:#162C53;
	padding: 0px 15px;
}


footer {
	text-align: center;
	padding: 50px 25px;
    color:#ffffff;
    background: #162C53;
}






/* 800px and higher _________________________________________________________________________________________________________________________________________________________________________*/
@media (min-width:800px){

.desktopOnly {
	display: block;
}
.mobileOnly {
	display: none;
}
.hidden {
	display: none !important;
}
.flex {
	display: flex;
}
html {
	overflow: auto !important;
}
body {
	margin: 0px;
	overflow: auto !important;
}
html, body {
	height: auto;
	width: auto;
}







/* Layout ___________________________________________________________________________*/
header {
    position: relative;
}
.topLogo img {
	width: auto;
	height: 100%;
}
.pageTitle {
	font-size: 3rem;
}
.blockTitle {
	font-size: 2rem;
}
.blockSubtext {
	margin-bottom: 40px;
}
.paragraphTitle {
	font-size: 1.5rem;
}


/* Menu - Desktop ___________________________________________________________________________*/
.desktopMenu ul {
    position: absolute;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.desktopMenu li {
	display: inline-block;
}
.desktopMenu a {
	font-size: 16px;
	margin: 0px 8px;
	line-height: 35px;
    border: none;
    opacity: .8;
}

	


}
